sudo: false
language: python
cache: pip
before_cache:
  - rm -f $HOME/.cache/pip/log/debug.log
python:
  - "2.6"
  - "2.7"
  - "3.3"
  - "3.4"
  - "3.5"
  - "pypy"
install:
  - pip install -U tox virtualenv coverage python-coveralls
script:
  - tox -e coverage
  - tox -e speed
after_success:
  - coveralls
