language: python
python:
  - "2.6"
  - "2.7"
  - "3.3"
  - "3.4"
  - "3.5"
  - "pypy"
  - "pypy3"
install:
  - echo "no dependencies to install"
  - pip install python-coveralls
script:
  - python setup.py build
  - coverage run setup.py test
  - python setup.py speed
after_success:
  - coveralls
